<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="MicrosoftProtectedFeed" value="https://packagefeedproxy.microsoft.io/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="MicrosoftProtectedFeed">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
